.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  row-gap: 3rem;
  column-gap: 4rem;
}

.member-container {
  box-shadow: -8px 32px 30px -2px rgba(107, 157, 30, 0.21);
  margin-bottom: 28px;
  padding: 22px 20px;
  border: 0 solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 275px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
}
.member-container:hover {
  transform: scale(1.05);
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg, #ff8c42, #ffcc5c); /* Adjust colors as needed */
}

.member-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.member-name {
  font-weight: 900;
  text-align: center;
}

.member-designation {
  font-weight: 500;
  text-align: center;
}

.member-committee {
  font-size: 15px;
  text-align: center;
}
