.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  row-gap: 3rem;
  column-gap: 4rem;
}

.member-container {
  box-shadow: -8px 32px 30px -2px rgba(107, 157, 30, 0.21);
  margin-bottom: 28px;
  padding: 22px 20px;
  border: 0 solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 275px;
  border-radius: 20px;
}

.member-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.member-name {
  font-weight: 900;
}

.member-designation {
  font-weight: 500;
}

.member-committee {
  font-size: 15px;
}
