.sponsor-img {
  width: auto;
  height: 110px;
  flex-basis: 110px;
  object-fit: contain;
}

.sponsor-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
  row-gap: 35px;
}

.sponsor-heading {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 8px 22px;
  margin: auto;
  border: 3px solid black;
}
