.z-top {
  z-index: 5;
}

.navbar__color {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.brand-logo {
  width: 250px;
  height: 150px;
  object-fit: contain;
}

.navbar-light {
  min-height: 80px;
}

.dropdown-toggle.nav-link {
  display: flex !important;
  align-items: center !important;
}

.dropdown-toggle.nav-link:hover {
  color: var(--heading-color) !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--heading-color) !important;
}

.dropdown-item {
  display: flex !important;
  align-items: center;
  flex-direction: row;
  gap: 10px !important;
  min-height: max-content !important;
}

.dropdown-menu {
  margin-left: 0 !important;
}

.dot {
  min-height: 8px;
  width: 8px;
  background-color: grey !important;
  border-radius: 50%;
  display: inline-block;
}

.dropdown-item:hover .dot {
  background-color: var(--heading-color) !important;
}

.dropdown-item a {
  word-wrap: break-word !important;
  text-decoration: none;
  color: grey;
}

.dropdown-item:hover a {
  color: var(--heading-color) !important;
}

.nav-link a {
  color: white !important;
  font-size: 14px !important;
}

.dropdown-toggle.nav-link {
  font-size: 14px !important;
}

.nav-link a:hover {
  color: var(--heading-color) !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url("https://img.icons8.com/ios-filled/40/null/menu-rounded.png") !important;
}

.bg-navbar {
  background-color: var(--primary-color) !important;
  border-radius: 5%;
}

@media screen and (max-width: 1400px) {
  .navbar.navbar-expand-xl.navbar-light {
    min-height: max-content;
  }

  .dropdown-toggle.nav-link {
    margin-left: 20px;
  }

  .nav-link {
    margin-left: 20px;
  }
}
