@media screen and (max-width: 768px) {
  .carousel-item {
    height: 50% !important;
  }

  .carousel-item img {
    height: 200px !important;
  }

  .countdown-section{
    height: 200px !important;
    bottom:-95% !important;
  }

  .countdown-logo{
    height: 80px !important;
  }

  .time{
    font-size: 0.8rem !important;
  }

  .time-label{
    font-size: 0.5rem !important;
  }

  .countdown-item{
    padding: 8px 5px !important;
    width: 45px !important;
  }

  .countdown-timer{
    margin: 0 10px !important;
  }
}

.countdown-section {
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-radius: 10px !important;
}

.countdown-logo{
  height: 140px;
}

.countdown-item{
  padding: 10px 10px;
  width: 100px;
  backdrop-filter: blur(25px) saturate(47%);
    -webkit-backdrop-filter: blur(25px) saturate(47%);
    background-color: rgba(17, 25, 40, 0.77);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}

.time{
  font-size: 2rem;
  font-weight: 600;
}

.time-label{
  font-size: 1rem;
  font-weight: 200;
}
