.countdown-item {
  padding: 10px 10px;
  backdrop-filter: blur(25px) saturate(47%);
  -webkit-backdrop-filter: blur(25px) saturate(47%);
  background-color: rgba(17, 25, 40, 0.77);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
}

.countdown-section {
  background: rgb(255, 255, 255) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-radius: 10px !important;
  height: 200px;
  margin: 15px 0;
}

.countdown-logo {
  height: 140px;
  width: auto;
}

@media screen and (max-width: 1100px) {
  .countdown-section {
    scale: 0.9;
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .countdown-section {
    scale: 0.7;
    margin: -10px 0;
  }
}

@media screen and (max-width: 430px) {
  .countdown-section {
    scale: 0.6;
  }
}

@media screen and (max-width: 430px) {
  .countdown-section {
    scale: 0.55;
    margin: -20px 0;
  }
}

@media screen and (max-width: 640px) {
  .countdown-timer {
    flex-direction: column;
    padding: 0 20px;
    margin: 20px 0;
  }
}
