.main-container {
  background-color: var(--light-blue);
}

.banner_img {
  width: 100%;
  height: 100%;
}

.banner_container {
  position: relative;
}

.banner_tag {
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0px 10px rgb(0 0 0 / 50%);
}

.banner_subtxt {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin: 0px 0 0px 0;
  text-shadow: 0 0px 8px rgb(0 0 0 / 70%);
  text-transform: uppercase;
}

.banner_para {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin: 20px 0 30px 0;
  text-shadow: 0 0px 8px rgb(0 0 0 / 70%);
}

@media screen and (max-width: 905px) and (min-width: 600px) {
  .banner_tag {
    font-size: 35px;
  }
}

@media screen and (max-width: 599px) {
  .banner_tag {
    font-size: 20px;
  }
  .carosal_caption {
    top: 10% !important;
  }
  .banner_subtxt {
    font-size: 15px;
  }
  .banner_para {
    font-size: 12px;
  }
}

.carosal_caption {
  position: absolute;
  right: 10%;
  top: 25%;
  bottom: 20px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.text-process a[target="_blank"] {
  font-weight: 500 !important;
  color: blue !important;
}

span[class="text-uppercase"] {
  font-weight: 600 !important;
}

.process_box_main {
  width: 250px;
  border-radius: 5px;
}

.process_box_main div {
  height: 370px;
}

.process_flow_grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;
}

@media screen and (max-width: 1300px) {
  .process_flow_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .process_box_main {
    width: 230px;
  }
}

@media screen and (max-width: 900px) {
  .process_flow_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
