@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.caveat {
  font-family: "Caveat", cursive !important;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

:root {
  --heading-color: rgb(0, 167, 0);
  --secondary-heading-color: rgba(38, 50, 56, 0.65);
  --primary-color: #002449;
  --secondary-color: #3a478b;
  --primary-color-light: #3a478b11;
  --invert-color: #fff;
  --light-blue: #eff1ff;
  --sub-heading: #f75700;
  --responsive-heading-font: calc(2.1875rem + ((1vw - 3px) * 4.7348));
}

#rcciit-direction:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .eligibility {
    height: 100% !important;
  }
  .edit-icon {
    width: 30px !important;
    height: 30px !important;
  }
}

.edit-icon:hover {
  cursor: pointer;
  filter: opacity(0.5);
}

#close {
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: transparent;
  color: #1da1f2;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
}
#close:focus {
  outline: solid 0 transparent;
  box-shadow: 0 0 0 2px #8ed0f9;
}
#close:hover {
  background: rgba(29, 161, 142, 0.1);
}
#close:before,
#close:after {
  position: absolute;
  top: 15%;
  left: calc(50% - 0.0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: "";
}
#close:after {
  transform: rotate(-45deg);
}
