@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

:root {
  --heading-color: rgb(0, 167, 0);
  --primary-color: #002449;
  --secondary-color: #3a478b;
  --primary-color-light: #3a478b11;
  --invert-color: #fff;
  --light-blue: #eff1ff;
  --sub-heading: #f75700;
  --responsive-heading-font: calc(2.1875rem + ((1vw - 3px) * 4.7348));
}

#rcciit-direction:hover {
  text-decoration: underline;
}
